ng2-toasty
bnkx-error-message
bnkx-loading-overlay
bnkx-blocking-notification-overlay
.app
  .header
    .container
      .header-inner
        .header-inner-logo
        .header-inner-title((click)="showDividendsModal()") Multitoken Demo
          //mt-ether-logo((click)="showDividendsModal()")
        .header-inner-address Client address:
          i.address {{clientAddress}}
        .header-inner-contract Contract address:
          i.address {{contractAddress}}

  mt-content

  .footer
    .container
      .footer-inner
        .footer-inner-copyright="© 2018 bankex"
        .footer-inner-link="Go to "
          a(href="//bankex.com") bankex.com
