.init {
  .title {
    margin-bottom: 20px;
  }
  input {
    background: #fbfbfb;
    text-align: center;
  }
  .submit {
    text-align: center;
    height: 125px;
    button {
      margin: 30px;
    }
  }
}
