@keyframes play30 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -7680px 0px;
  }
}
.shapeshifter {
  animation-duration: 1000ms;
  animation-timing-function: steps(30);
  width: 251px;
  height: 415px;
  background-repeat: no-repeat;
  /* background: url("./sprite_30fps.svg") no-repeat; */
}
.shapeshifter.play {
  animation-name: play30;
}
