.header {
  height: 140px;
  &-inner {
    position: relative;
    &-logo {
      background: url("../assets/svg/logo.svg") no-repeat;
      background-size: cover;
      height: 50px;
      left: 0;
      position: absolute;
      top: 50px;
      width: 240px;
    }
    &-title {
      position: absolute;
      right: 0;
      top: 50px;
      line-height: 39px;
      font-size: 16px;
      letter-spacing: 1.3px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &-address, &-contract {
      position: absolute;
      right: 0;
      top: 80px;
      line-height: 39px;
      font-size: 10px;
      letter-spacing: 1.3px;
      font-weight: 600;
      .address {
        margin-left: 5px;
      }
    }
    &-contract {
      top: 100px;
    }
  }
}


