.bnkx-loading-overlay(*ngIf="showOverlay", [ngClass]="{'transparent': transparent}")
	.loading-center-container
		img(*ngIf="!transparent", src="assets/logoname.png", alt="Bankex Foundation Open Charity", class="loading-overlay-logo")
		.loading-indicator
			.loading-bar
			.loading-bar
			.loading-bar
			.loading-bar
			.loading-bar
			.loading-bar
