.stage.row.nomargin
  .col-sm-12.nopadding
    kendo-buttongroup([width]="'100%'")
      button(kendoButton, [disabled]="stage !== Stage.DEFAULT", [ngClass]="{'k-state-selected': stage === Stage.DEFAULT}") IDLE
      button(kendoButton, [disabled]="stage !== Stage.RAISING", [ngClass]="{'k-state-selected': stage === Stage.RAISING}") FUNDS RISING
      button(kendoButton, [disabled]="stage !== Stage.TOKEN_DISTRIBUTION", [ngClass]="{'k-state-selected': stage === Stage.TOKEN_DISTRIBUTION}") TOKEN DISTRIBUTION
      button(kendoButton, [disabled]="stage !== Stage.MONEY_BACK", [ngClass]="{'k-state-selected': stage === Stage.MONEY_BACK}") MONEY BACK FASE
      button(kendoButton, [disabled]="stage !== Stage.FUND_DEPRECATED", [ngClass]="{'k-state-selected': stage === Stage.FUND_DEPRECATED}") DONE
