@font-face {
  font-family: 'Gotham Pro';
  src: url("../assets/fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../assets/fonts/Gotham-Pro-medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../assets/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("../assets/fonts/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("../assets/fonts/Lora-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url("../assets/fonts/Lora-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("../assets/fonts/Lora-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
