$fa-font-path : '../../node_modules/font-awesome/fonts';

//Colors
$primary: deepskyblue;
$warning: orange;

$back-color: #e5e9ee;

$gray-light: #767d87;
$gray-dark: #3b434e;

$primary-one: #0494c9;
$primary-two: #e74c3c;
